/*	---------------------------------------------------------------------------------
	BIG ART THEME STYLES
	--------------------------------------------------------------------------------- */

/*	GLOBAL STYLES
	--------------------------------------------------------------------------------- */

	/*	Inherit global box-sizing reset
		http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice */
	html {
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}

	/* Font resets for html element */
	html {
		font-size:62.5%; /* 62.5% font-size for REM use */
		-webkit-font-smoothing:antialiased;
		font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
	}
	body {
		font:300 1.4em/1.5 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		color:#444;
		margin-top: 32px;
	}
	/* clearfix */
	.clearfix:before,
	.clearfix:after {
	    content:' ';
	    display:table;
	}
	.clearfix:after {
	    clear:both;
	}
	p {
		margin: 0 0 1.5em;
	}
	h1,h2,h3,h4 {
		font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		margin: 0 0 1em;
	}
	img {
		max-width:100%;
		height: auto;
		vertical-align:bottom;
	}
	a {
		color: hsl(120,25%,33%);
		text-decoration:none;
	}
		main a {
			font-weight: bold;
		}
	a:hover {
		color:#444;
	}
		main a:hover,
		#footer a:hover {
			text-decoration: underline;
		}
	a:focus {
		outline:0;
	}
	a:hover,
	a:active {
		outline:0;
	}
	.link-button {
		display: block;
		padding: 1em;
		background: #222222;
		color: #EEEEEE;
		text-decoration: none;
		box-shadow: 0 0 1em rgba(0,0,0,0.333);
		text-transform: uppercase;
		font-size: 0.75em;
		font-weight: bold;
		line-height: 1;
	}
	.link-button:hover {
		color: #EEEEEE;
		text-decoration: none;
	}
	.link-button:active {
		box-shadow: inset 0 0 1em rgba(0,0,0,0.333);
	}
	input:focus {
		outline:0;
		border:1px solid #04A4CC;
	}

/*	TYPOGRAPHY STYLES
	--------------------------------------------------------------------------------- */

	@font-face {
		font-family:'Font-Name';
		src:url('fonts/font-name.eot');
		src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
			url('fonts/font-name.woff') format('woff'),
			url('fonts/font-name.ttf') format('truetype'),
			url('fonts/font-name.svg#font-name') format('svg');
		font-weight:normal;
		font-style:normal;
	}

/*	LAYOUT STYLES
	--------------------------------------------------------------------------------- */

	body {
		margin: 0;
		padding: 0;
		position: relative;
		background: #FAFAFA url('../img/concrete-bg.png');
	}

	/* wrapper */
	main,
	.wrapper,
	footer {
		max-width:1280px;
		width:95%;
		margin:0 auto;
		position:relative;
	}

	/* Clear Fixed Header */
	body {
		padding: 32px 0 0;
	}

	/* Page Header */
	#header {
		background: #222222;
		color: #EEEEEE;
		height: 32px;
		width: 100%;
		box-shadow: 0 1px 1em rgba(0,0,0,0.33);
		padding: 0 1em;
		overflow: hidden;
		z-index: 101; /* Over "article.home-slide" z-index 100 */
		position: fixed;
		top: 0;
	}

		/* Logo */
		#header .brand {
			height: 32px;
			float: left;
			margin-right: 1em;
		}
		
		#brand .home-link {
			display: block;
			float: left;
		}

		#header .logo {
			max-height: 24px;
			float: left;
			margin:4px 1em 4px 4px;
			line-height: 0;
		}

		#site-title {
			font-size: 14px;
			line-height: 32px;
			float: left;
			margin: 0;
			color: #EEEEEE;
		}

		/* Header Nav */
		#header .topnav {
			float: left;
			max-height: 100%;

		}

			#header .topnav ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			#header .topnav li {
				float: left;
			}

			#header .topnav a {
				display: block;
				line-height: 32px;
				padding: 0 1em;
				color: #EEEEEE;
				font-weight: bold;
				border-right: 1px solid #000000;
			}

			#header .topnav li:first-child a {
				border-left: 1px solid #000000;
			}

			#header .topnav a:hover,
			#header .topnav a:focus {
				box-shadow: 0 0 1em rgba(0,0,0,0.5);
				z-index: 11;
			}

			#header .topnav a:active {
				background: #000000;
				box-shadow: none;
			}

			#header .topnav .current-menu-item a {
				background: #333333;
			}

	main {
		background: #FFFFFF;
		border: 1px solid rgba(0,0,0,0.1);
		border-top: none;
		border-bottom: none;
		padding-bottom: 4em;
	}

	/* sidebar */
	.sidebar {


	}
	/* footer */
	#footer {
		background: #222222;
		color: #EEEEEE;
		padding: 2em;
		min-height: 10em;
		text-align: center;
	}

		#footer a {
			color: inherit;
			font-weight: bold;
		}

/*	WORDPRESS CORE STYLES
	--------------------------------------------------------------------------------- */

	.alignnone {
		margin:5px 20px 20px 0;
	}
	.aligncenter,
	div.aligncenter {
		display:block;
		margin:5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	a img.alignnone {
		margin:5px 20px 20px 0;
	}
	a img.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.aligncenter {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.wp-caption {
		background:#FFF;
		border:1px solid #F0F0F0;
		max-width:96%;
		padding:5px 3px 10px;
		text-align:center;
	}
	.wp-caption.alignnone {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin:5px 0 20px 20px;
	}
	.wp-caption img {
		border:0 none;
		height:auto;
		margin:0;
		max-width:98.5%;
		padding:0;
		width:auto;
	}
	.wp-caption .wp-caption-text,
	.gallery-caption {
		font-size:11px;
		line-height:17px;
		margin:0;
		padding:0 4px 5px;
	}
	.sticky {

	}
	.bypostauthor {

	}
	.post-edit-link {
		clear: both;
	}

/*	HOME PAGE STYLES
	--------------------------------------------------------------------------------- */

	.home.page { }

	#home-slideshow {
		width: 100%;
		height: 0;
		padding: 50% 0 0;
		overflow: hidden;
		position: relative;
		background: #000000;
	}

		#home-slideshow .home-slide {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}

		.home-slide img.wp-post-image {
			width: 100%;
			height: auto;
		}

		.home-slide .slide-content {
			padding: 2em;
			background: rgba(0,0,0,0.5);
			position: absolute;
			bottom: 0;
			width: 100%;
			color: #EEEEEE;
		}

			.home-slide h2 {
				font-size: 32px;
				text-transform: uppercase;
				margin: 0 0 0.25em;
				float: left;
			}

			.home-slide .slide-excerpt {
				clear: both;
				font-size: 16px;
				margin: 0 0 1em;

				display: none;
			}

				.home-slide .slide-excerpt a:last-of-type {
					display: none;
				}

			#home-slideshow .slide-content:hover .slide-excerpt {
				display: block;
			}

			.home-slide .read-more {
				float: right;
				margin-top: 2.5em;
			}


/*	POST STYLES
	--------------------------------------------------------------------------------- */

	.single .post-thumbnail {
		width: 100%;
		height: 0;
		padding: 50% 0 0;
		margin: 0 0 2em;
		overflow: hidden;
		position: relative;
	}

		.single .post-thumbnail img {
			position: absolute;
			top: 0;
			width: 100%;
		}

		.single .post-thumbnail .post-edit-link {
			position: absolute;
			right: 1em;
			bottom: 1em;
			z-index: 11;
			background: #FAFAFA;
			padding: 0.25em 0.5em;
		}

		.single .post-thumbnail .post-edit-link:hover {
			text-decoration: none;
		}

	.single .the-post {
		width: 72.5%;
		float: left;
	}

	.single h1 {
		font-size: 32px;
		padding: 0 0 0.25em;
		margin: 0;
	}

	.single .post-meta {
		margin:0 0 1em;
		padding: 1em 0 0;
		border-top: 1px solid rgba(0,0,0,0.333);
	}

		.single .post-meta span,
		.single .post-tags {
			font-size: 12px;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			font-weight: bold;
		}

		.single .post-meta .category {
			float: right;
		}

	.single .post-content {
		margin-bottom: 2em;
	}

	.single .post-sidebar {
		float: right;
		width: 25%;
		margin-bottom: 2em;
	}

	.single .comments {
		border-top: 1px solid rgba(0,0,0,0.333);
		padding: 0.5em 0;
	}

		.single .comments h3 {
			font-size: 24px;
			text-transform: uppercase;
		}

		.single .comment-form-comment {
			float: left;
			width: 72.5%;
		}

			.single .comment-form-comment label {
				margin-bottom: 0.5em;
				display: block;
			}

			.single .comment-form-comment textarea {
				width: 100%;
				height: 8em;
			}

		.single .form-allowed-tags {
			float: right;
			width: 25%
		}

			.single .form-allowed-tags code {
				display: block;
				margin-top: 0.5em;
			}

		.single .form-submit {
			clear: both;
			float: right;
		}


/*	PAGE STYLES
	--------------------------------------------------------------------------------- */

/*	CUSTOM CONTENT STYLES
	--------------------------------------------------------------------------------- */

	.post-gallery {

	}

		.post-gallery .gallery-image {
			border-top: 1px solid rgba(0,0,0,0.333);
			padding: 1.5em 0;
		}

		.post-gallery .gallery-image:first-child {
			border: none;
		}

		.post-gallery .gallery-image img {
			width: 100%;
			height: auto;
			display: block;
			border: 2px solid #222222;
		}

		.gallery-image-meta {
			padding: 0 1.5em 1.5em;
			margin: 0;
		}

		.gallery-image-meta span {
			display: block;
		}

		.gallery-image-meta .image-title {
			font-weight: bold;
			margin-bottom: 0.5em;
		}
	